@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


body {
    font-family: 'Comic Neue', cursive;
}

#navBar {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 3px rgb(86, 84, 84);
}

.container {
    margin: 0;
}

.invisiButtons {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    background-color: #fff;
    border-width: 0px;
}

#enrollButton {
    padding: 0.5rem;
    border-radius: 10rem;
    background-color: aqua;
    width: 7rem;
    border-width: 0px;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centerAlign {
    align-items: center;
}

#welcomeSplit {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#welcomeAmenities {
    width: 25%;
    align-items: center;
}

#welcomePoster {
    width: 50%;
    align-items: center;
}

#vollyBall {
    color: #fff;
    text-align: center;
    font-size: 150%;
}


#vollyballBackground {
    background-color: #01FAE8;
    height: 11%;
    padding: 1%;
    margin: 1.5%;
    align-items: center;
    border-radius: 50%;
}

#leafBackground {
    background-color: #EFEF00;
    height: 11%;
    padding: 1%;
    margin: 1.5%;
    align-items: center;
    border-radius: 50%;
}

#videoBackground {
    background-color: #4C81FC;
    height: 11%;
    padding: 1%;
    margin: 1.5%;
    align-items: center;
    border-radius: 50%;
}

#kidImage {
    width: 75%;
    margin-top: 20px;
    border-radius: 20px;
}

.textAlignCenter {
    text-align: center;
}

.descriptionBox {
    width: 70%;
    margin: auto;
}

.bottom-div {
    display: flex;
}

.card-image {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card {
    border: 1px solid black;
    width: 20%;
    margin: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.cardWrapper {
    display: flex;
    justify-content: space-evenly;
}

.teacherCard {
    width: 10%;
    border-radius: 20px;
}



.card-image-v {
    height: 50%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}

.cardContent {
    padding: 10px;
}

#FoorterSection {
    display: flex;
    justify-content: space-evenly;
    background-color: #0160a8;
    color: #fff;
}

#kindergarden-footer-div {
    width: 30%;
}

#offerSection {
    background-color: rgb(253, 234, 237);
}

.bottom-div-content {
    margin-left: 10px;
    margin-right: 10px;
}

#blu {
    color: #047BD5;
}


#pnk {
    color: rgb(250, 135, 154);
}

#ylo {
    color: #ebeb35;
}

#tea {
    color: #01FAE8;
}



a {
    text-decoration: none;
    color: white;
    margin-bottom: 6px;
}

.flex-column-anchor {
    display: flex;
    flex-direction: column;
}

.margin {
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) and (min-width: 310px) {
    .cardWrapper {
        flex-wrap: wrap;
    }

    #navBar {
        display: none;
    }
}